FORMAT: 1A
HOST: http://paysafe.api.com/v1/

# Paysafe Alternative Payments API

The Paysafe Alternative Payments API allows you to collect payments from your customers using a
variety of methods.

The API in SAQ (TBD) compliant.

Request and response payloads are formatted as JSON.

# Release Notes

|Version   |Date            |Details|
|---       |---             |---|
|1.3.X     |March 14 2015   |<ul><li>Added support for Ideal</li></ul>|
|1.3.X     |March 22 2015   |<ul><li>Added support for China Union Pay</li></ul>|
|1.3.X     |March XX 2015   |<ul><li>Added support for Sofort</li></ul>|

# Technical introduction
This section provides a technical introduction to the Paysafe Alternative Payments API. 

## API Endpoints

The Paysafe Alternative Paymenes API is available in the sandbox environment for integration testing purposes. 
To switch between the sandbox and the live production system you only need to change the endpoint URI and the 
credentials.

The following endpoints form the basis of a resource URI:

    Sandbox (Testing) endpoint - https://api.test.paysafe.com

    Production endpoint - https://api.paysafe.com

As the sandbox environment is completely isolated, any changes you perform on your sandbox accounts configuration
(such as secure IP registration, APP registration) may have to be repeated in your production account.

## Pagination

## Resource Expansion

## HTTP Responses

### HATEOAS

The Alternative Payments API uses a RESTful endpoint structure and relies on HTTP verbs (GET, PUT, POST, DELETE)
to determine what action you are attempting to perform on a specific resource.

Each API call response includes an array of HATEOAS (Hypermedia as the Engine of Application State) links. 
These links can be used to integrate subsequent flows and typically they will provide you information as to
what you can do next.

By using these links, you no longer need to hardcode your integration to call specific endpoint urls to utilize
our API, but rather can use the returned url for the specific purpose as defined by the 'rel' definition.

#### HATEOAS Link Structure

|Element  |Description|
|---      |---|
|rel      |Link relation that describes how this link relates to the previous call. Examples include self (get details of the current call), parent_payment (get details of the parent payment), or a related call such as execute or refund.|
|href     |URL of the related HATEOAS link you can use for subsequent calls.|


### Error Codes

# Complex JSON Objects

<a name="apAuthorization"></a>

## authorization

#Authorization Base
    
|Element                 |Type                   |Description|
|---                     |---                    |---|
|merchantRefNum          |string<br/>`length=5`  ||
|dupCheck                |string<br/>`length=3`  ||
|amount                  |string<br/>`length=3`  ||
|descriptor              |string<br/>`length=3`  ||
|profile                 |string<br/>`length=3`  ||
|shopperUrl              |string<br/>`length=3`  ||
|paymentMethod           |paymentMethod          ||

```
{
  "lang": "en_US",
  "currency": "EUR"
}
```

## profile


## paymentMethods

### ideal (iDeal)

|Element                 |Type                   |Description|
|---                     |---                    |---|
|bankName                |string<br/>`length=10` ||
|accountCountry          |string<br/>`length=2`  ||

```
"ideal": {
    "bankName": "ING",
    "accountCountry": "NL"
}
```
  
### boleto (Boleto)

### cup (China Union Pay)


# Alternative Payments API

Description TBD

## Authorizations [/auths]

An authorization request initates a payment request and responds with a appropriate information for you to redirect
your customer to complete their payment.  You must pass ONE of the available payment options in your request.
Refer to [paymentMethods](#paymentMethods) for details around the required values for each option.

> Please contact Paysafe Merchant Support to enable additional options for your account.

The following payment methods are supported:

|Payment Method  |JSON Object |
|---             |---         |
|iDeal           |ideal       | 
|China Union Pay |cup         | 
|Sofort          |sofort      |

### Create Auth [POST /accounts/{accountId}/auths]

+ Request Create iDeal authorization (application/json)

    + Parameters
        + accountId: `1234567891` (string, required) - Your unique account identifer.

    + Attributes (Ideal Payment)
        + Include Authorization Base

    + Headers
    
            Authorization: Basic YOUR-BASE64-ENCODED-API-KEY
            
+ Response 201 (application/json)

    + Attributes (Ideal Payment)
        + Include Authorization Response Base


+ Request Create China Union Pay authorization (application/json)

    + Parameters
        + accountId: `1234567891` (string, required) - Your unique account identifer.

    + Attributes (CUP Payment)
        + Include Authorization Base

    + Headers
    
            Authorization: Basic YOUR-BASE64-ENCODED-API-KEY
            
+ Response 201 (application/json)

    + Attributes (CUP Payment)
        + Include Authorization Response Base

+ Request Sofort authorization (application/json)

+ Response 201 (application/json)

### Lookup Auth by authid [GET /accounts/{accountId}/auths/{authId}]

+ Request (application/json)

+ Response 200 (application/json)

### Lookup Auth by merchantRefNum [GET /accounts/{accountId}/auths/?merchantRefNum={merchantRefNum}]

+ Request (application/json)

+ Response 200 (application/json)


## Refunds [/refunds]

### Create Refund [POST]

+ Request (application/json)

+ Response 200 (application/json)

### Lookup Refund by id [GET /refunds/{id}]

+ Request (application/json)

+ Response 200 (application/json)

### Lookup Refund by merchantRefNum [GET /refunds/]

+ Request (application/json)

+ Response 200 (application/json)


# Data Structures

## Authorization Base (object)
+ merchantRefNum: `0b0ceaa3-42ad-442d-b85b-c3b70f24835d` (string, required) - This is the merchant reference number created by the merchant and submitted as part of the request. It must be unique for each request.
+ dupCheck: `true` (boolean, optional) - This validates that this request is not a duplicate. A request is considered a duplicate if the merchantRefNum has already been used in a previous request within the past 90 days.
+ amount: `100` (number, required) - This is the amount of the request, in minor units.
+ descriptor: `Test description` (string, optional) - This is the merchant descriptor that will be displayed on the customer's card statement.
+ Include Profile

## Authorization Response Base (object)
+ id: `25f6dadf-176a-415f-95c9-6ff39ff697ba` (string, required) - This is the ID returned in the response. This ID can be used for future associated requests, e,g., Settlements.
+ liveMode: `false` (string, required)
+ merchantRefNum: `b0ceaa3-42ad-442d-b85b-c3b70f24835d` (string, required) - This is the merchant reference number created by the merchant and submitted as part of the request.
+ dupCheck: `false` (boolean, optional) - This validates that this request is not a duplicate. A request is considered a duplicate if the merchantRefNum has already been used in a previous request within the past 90 days.
+ amount: `100` (number, required) - This is the amount of the request, in minor units.
+ descriptor: `test descriptor` (string, optional) - This is the merchant descriptor that will be displayed on the customer's card statement.
+ txnTime: `2015-12-11T16:33:49Z` (string, required) - This is the date and time the transaction was processed.
+ currencyCode: `EUR` (string, required) - This is the currency of the merchant account, e.g., USD or CAD, returned in the request response.
+ status: `INITIATED` (string, required) - This is the status of the transaction request.
+ Include Profile
+ returnLinks (array) - This is an array of return links.
   + (object) 
        + rel: default
        + href: ...
+ links (array) - This is an array of self-referencing links. 
   + (object) 
        + rel: self
        + href: ...

## Ideal Payment (object)
+ ideal (object) - Parameters required for an iDeal payment request.

    + Properties
        + bankName: `ING` (string, required)
        + accountCountry: `NL` (string, required)
        
## CUP Payment (object)
+ cup (object) - Parameters required for an China Union Pay payment request.

    + Properties
        + bankName: `ING` (string, required)
        + accountCountry: `NL` (string, required)     

## Profile (object)        
+ profile (object, optional) - These are some details about the customer.

    + Properties
        + firstName: `Stan` (string, required)
        + lastName: `Smith` (string, required)
        + email: `stan.smith@fox.com` (string, required)
        + ip: `127.0.0.1` (string, optional)