FORMAT: 1A
HOST: https://api.paysafe.com/alternatepayments/v1/

# Paysafe Alternate Payments API

The Paysafe Alternate Payments API allows you to collect payments from your consumers using a
variety of non-card regional payment methods with a single integration.

# Release Notes

|API Version    |Release Date          |Details|
|---            |---                   |---|
|v1             |2018-03-01            |- Added Interac|
|v1             |2018-03-05            |- Removed iDeal|
|v1             |2018-02-22            |- Added Paysafecash|
|v1             |2017-02-21            |- Added Skrill standalone credit|
|v1             |2018-01-10            |- Added support for Payolution verifications and payment installments|
|v1             |2017-11-15            |- Added RapidTransfer|
|v1             |2017-08-28            |- Added Paysafecard, Skrill, Neteller, Payolution|
|v1             |2017-08-09            |- Added /monitor endpoint|
|v1             |2017-05-06            |- Replaced error 5283 with 5031|
|               |                      |- Added void authorization|
|               |                      |- Add support for NO to Boku|
|v1             |2017-03-08            |- Added support for manual settlement|
|               |                      |- Support returns on settlement|
|               |                      |- Ability to refund a settlement|
|v1             |2016-12-15            |- Added Boku, Giropay|
|v1             |2016-08-01            |- Initial release with support for iDeal, Sofort|



# Technical Introduction
This section provides a technical introduction to the Paysafe Alternate Payments API.

## API Endpoints

The Paysafe Alternate Payments API is available in the Test environment for integration testing purposes.
To switch between the Test and the live Production systems you  need only to change the endpoint URI and the
credentials.

The following endpoints form the basis of a resource URI:

    Test endpoint &ndash; https://api.test.paysafe.com/alternatepayments/v1/<br/>
    Production endpoint &ndash; https://api.paysafe.com/alternatepayments/v1/

Because the Test environment is completely isolated, any changes you perform on your Test account configuration
(such as secure IP registration, APP registration, etc.) may have to be repeated in your Production account.


## Versioning

The API version will influence the request/response object structure as well as the functionality that is available through the API. A new version of the API will  be introduced only if we roll out a backwards-incompatible change
that may impact your existing integrations.

### Major Version

The major version \(i.e., /v1/ \) represents a major technology shift between versions of the API. Changes in the
major version are reserved for large-scale changes to the API that fundamentally change integration requirements
from the previous version.  Modified business domain models, re-design of functional flows, or change in API
resource patterns are all considered major changes.  Changes to a major version are rare and typically require
an extended deprecation cycle \(~2 years\) from prior versions to allow all consumers of the API to adapt.

> Your integration should take the following backwards-compatible changes into consideration so as not to break when additional fields are added to the API.

**What is considered a backwards-compatible change?**

* Adding API resources or adding new properties to existing API resources
* Modification to the order of parameters or JSON object elements
* Adding optional request parameters to API methods
* Adding webhook event types

**What is considered a backwards-incompatible change?**

* Removal of an API resource
* Removal of an API resources object attribute
* Changes to required parameter/JSON object elements
* Removal of previously supported API call

***

<a name="apikey" title="Authentication"></a>
## Authentication

In order for you to use the Paysafe REST API, Paysafe must first set you up on their system
and provide you with an API key. Your API key looks something like this:

> Key Username = MerchantXYZ<br/>
> Key Password = B-tst1-0-51ed39e4-312d02345d3f123120881dff9bb4020a89e8ac44cdfdcecd702151182fdc952272661d290ab2e5849e31bb03deede7e

Note that this is not the same as your Merchant Back Office username and password.
The case-sensitive API key is sent using HTTP Basic Authentication. To use HTTP Basic Authentication, you must send the API key credentials using the Authorization header with every request. The Authorization header is constructed as follows:
 1. The Key Username and Key Password are combined into a string separated by a colon, e.g.,“Key Username:Key Password”.
 2. The resulting string literal is then encoded using Base64.
 3. The authorization method and a space (i.e., “Basic”) are then put before the encoded string.

For example, using the Key Username and Password examples above, the header is formed as follows:

`Authorization: Basic TWVyY2hhbnRYWVo6Qi10c3QxLTAtNTFlZDM5ZTQtMzEyZDAyMzQ1ZDNmMTIzMTIwODgxZGZmOWJiNDAyMGE4OWU4YWM0NGNkZmRjZWNkNzAyMTUxMTgyZmRjOTU yMjcyNjYxZDI5MGFiMmU1ODQ5ZTMxYmIwM2RlZWRlN2U=`

For additional details, please refer to [http://en.wikipedia.org/wiki/Basic_access_authentication](http://en.wikipedia.org/wiki/Basic_access_authentication).

**Note:** Your Production API key will be different from your Test API key. Contact your account manager for details. You must keep your API keys safe and ensure that it is used appropriately for your needs.


<a name="pagination" title="Pagination"></a>
## Pagination

API calls that return multiple resources will wrap the response as a named JSON array.  For example, a collection of "payment" objects would
be returned as "payments". By default, 10 items at a time will be returned and you can navigate to the next set of resources using the
supplied HATEOAS links.  List responses will also include a meta data section that will identify the number of records included in the collection,
the number of records per page (limit), and the current page number.
<br/><br/>
For example, if a request to look up payments identifies that there are 134 payments and you have set your limit to 15, the first 15 items will be returned with navigation links to provide the next 15 items in the list. If you navigate to the next page using the provided HATEOAS link, you will then retrieve items 16-30 with a new navigation link provided to return to the previous page, as well as a link to continue to the next page of items.

> _You can change the default list page size by defining a **limit** parameter value._

|Parameter Name |Description|
|---            |---|
|limit          |The number of records to be returned per page. Default = 10, Max = 100|
|offset         |Identifies your location within the list and allows you to fetch the next set of resources|
|startDate      |This is the start date in UTC.|
|endDate        |This is the end date in UTC.|

Sample Response with List Data

```
{
    "meta": {
        "numberOfRecords": 77,
        "limit": 10,
        "page": 1
    },
    "payments": [{
        "id": "044e3915-b612-40c7-b652-283bb288521f",
        "merchantRefNum": "xyz",
        "amount": 100,
        "currencyCode": "EUR",
        "paymentType": "SOFORT",
        "profile": {
            "firstName": "Stan",
            "lastName": "Smith",
            "email": "stan.smith@fox.com",
            "ip": "100.0.0.1"
        },
        "sofort": {
            "descriptor": "mydescriptor",
            "sepa": {
                "bankName": "ing",
                "country": "NL",
                "iban": "DE89370400440532013000",
                "accountHolderName": "John Doe"
            }
        },
        "returnLinks": [{
            "rel": "default",
            "href": "http://yoursite.com/"
        }],
        "txnTime": "2016-05-05T20:34:06Z",
        "status": "INITIATED",
        "gatewayResponse": {
            "id": "043403-2342115455",
            "code": "000.200.000",
            "description": "transaction pending",
            "paymentType": "DB"
        },
        "links": [{
            "rel": "self",
            "href": "https://api.test.paysafe.com/alternatepayments/v1/accounts/1000203713/payments/9769f140-0bd2-4fe7-b79b-338ccf8433fc"
        }]
    }],
    "links": [{
        "rel": "next",
        "href": "https://api.test.paysafe.com/ alternatepayments/v1/accounts/1000203713/payments?merchantRefNum=xyz&limit=10&offset=10&startDate=2016-06-06T19:04:43Z&endDate=2016-07-06T19:04:43Z"
    }, {
        "rel": "self",
        "href": "https://api.test.paysafe.com/alternatepayments/v1/accounts/1000203713/payments?merchantRefNum=xyz&limit=10&offset=0&startDate=2016-06-06T19:04:43Z&endDate=2016-07-06T19:04:43Z"
    }]
}
```


<a name="globalinvalidcharacters" title="Global Invalid Characters"></a>
## Global Invalid Characters

You must not include any of the characters in the following table as values in any of your request parameters. If you do, your request will result in an error.

|    Character    |    HEX    |    Description                     |
|-----------------|-----------|------------------------------------|
| "               | 22        | Double quotes (or speech marks)    |
| ;               | 3B        | Semicolon                          |
| ^               | 5E        | Caret, circumflex                  |
| *               | 2A        | Asterisk                           |
| <               | 3C        | Less than (or open angled bracket) |
| /               | 2F        | Slash or divide                    |
| [               | 5B        | Opening bracket                    |
| ]               | 5D        | Closing bracket                    |
| \               | 5C        | Backslash                          |


## HTTP Responses

HTTP response codes are used to indicate the status of a request.

**HTTP Status Code Summary**

|HTTP Response Code Category|Description|
|---|---|
|1xx: Informational|Communicates transfer protocol–level information|
|2xx: Success|Indicates that the client’s request was accepted|
|3xx: Redirection|Indicates that the client must take some additional action in order to complete the request|
|4xx: Client Error|Indicates that the client has made an error with the request|
|5xx: Server Error|Indicates that an error occurred on the server side|

**Common HTTP Response Status Codes**

|HTTP Status Code|Description|
|---|---|
|200 OK|Everything worked as expected.|
|201 CREATED|The request was successful. Paysafe created a new resource and the response body contains the representation.|
|202 ACCEPTED|This indicates that the client’s request will be handled asynchronously. It tells the client that the request appears valid, but it still may have problems once it is processed.|
|204 NO CONTENT|This is usually returned in response to a PUT, POST, or DELETE request, when the REST API declines to send back any status message or representation in the body of the response message.|
|304 NOT MODIFIED|The client's cached version of the representation is still up to date.|
|400 BAD REQUEST|This often indicates that a required parameter is missing or that a parameter is invalid. This is a generic client-side error status, used when no other 4xx error code is appropriate.|
|401 UNAUTHORIZED|This indicates that the client tried to operate on a protected resource without providing the proper authorization. They may have provided the wrong credentials or none at all.|
|402 PAYMENT REQUIRED|The parameters were valid but the request failed.|
|404 NOT FOUND|The requested resource does not exist.|
|405 METHOD NOT ALLOWED|The client tried to POST or PUT to a resource that would not accept it.|
|409 CONFLICT|The request could not be completed due to a conflict with the current state of the target resource. This code is used in situations where the user might be able to resolve the conflict and resubmit the request.|
|415 UNSUPPORTED MEDIA TYPE|The request is in a format not supported by the requested resource for the requested method.|
|429 TOO MANY REQUESTS|The application is sending too many simultaneous requests.|
|500 INTERNAL SERVER ERROR|An error occurred with an internal server.|
|502 EXTERNAL SERVER ERROR|We received an invalid response from the upstream gateway in attempting to fulfill the request.|


## HATEOAS

The Alternate Payments API uses a RESTful endpoint structure and relies on HTTP verbs (GET, PUT, POST, DELETE)
to determine what action you are attempting to perform on a specific resource.

Each API call response includes an array of HATEOAS (Hypermedia as the Engine of Application State) links.
These links can be used to integrate subsequent flows and typically they will provide you information as to
what you can do next.  Additionally these links might be used to link to other resources related to the
current response object.

By using these links, you no longer need to hardcode your integration to call specific endpoint URLs to utilize
our API, but rather can use the returned URL for the specific purpose as defined by the 'rel' definition.

#### HATEOAS Link Structure

|Element  |Description|
|---      |---|
|rel      |Link relation that describes how this link relates to the previous call. Examples include self (get details of the current call), parent_payment (get details of the parent payment), or a related call such as to execute a refund on the payment.|
|href     |URL of the related HATEOAS link you can use for subsequent calls.|


Below are sample HATEOAS links from an API response that returns a collection of payments associated to a specific merchant reference. Links
are provided to navigate through the set of resources in the collection.

```
GET https://api.test.paysafe.com/v1/accounts/{ACCOUNT_ID}/payments?merchantRefNum={MERCHANT_REF_NUM}&limit=10&offset=10

...result set

"links": [{
    "rel": "self",
    "href": "https://api.test.paysafe.com/v1/accounts/{ACCOUNT_ID}/payments?merchantRefNum={MERCHANT_REF_NUM}&limit=10&offset=10"
},  {
    "rel": "prev",
    "href": "https://api.test.paysafe.com/v1/accounts/{ACCOUNT_ID}/payments?merchantRefNum={MERCHANT_REF_NUM}&limit=10&offset=0"
}, {
    "rel": "next",
    "href": "https://api.test.paysafe.com/v1/accounts/{ACCOUNT_ID}/payments?merchantRefNum={MERCHANT_REF_NUM}&limit=10&offset=20"
}]
```

# Resource Hierarchy and State Transition

![](https://github.com/paysafegroup/paysafe_api_alternatepayments_v1/raw/master/images/ap_resource_hierarchy.png)

Some resources in the system can transition through various statuses depending on the current state of the resource.  The diagrams below show the
valid statuses for these complex resources and how they are linked.

*Verifications*
![](https://github.com/paysafegroup/paysafe_api_alternatepayments_v1/raw/master/images/verification_state_transition_diagram.png)

*Payments*
![](https://github.com/paysafegroup/paysafe_api_alternatepayments_v1/raw/master/images/payment_state_transition_diagram.png)

*Settlements*
![](https://github.com/paysafegroup/paysafe_api_alternatepayments_v1/raw/master/images/settlement_state_transition_diagram.png)

*Standalone Credits*
![](https://github.com/paysafegroup/paysafe_api_alternatepayments_v1/raw/master/images/standalonecredit_state_transition_diagram.png)

*Refunds*
![](https://github.com/paysafegroup/paysafe_api_alternatepayments_v1/raw/master/images/settlement_state_transition_diagram.png)

*Returns*
![](https://github.com/paysafegroup/paysafe_api_alternatepayments_v1/raw/master/images/return_reversal_state_transition_diagram.png)

*Return Reversals*
![](https://github.com/paysafegroup/paysafe_api_alternatepayments_v1/raw/master/images/return_state_transition_diagram.png)

# Notifications

You can configure custom notification events for your account(s) from the merchant backoffice.  Notification events could include webhooks, email, and/or SMS.  The availibity of notification types will vary
depending upon your account type and setup.
<br/>

The most common notification used as part of your Alternate Payments integration comes in the form of a webhook.  A webhook allows you to define an HTTP callback that will be POST to when
an event occurs that you would like to be notified of.  This would typically include status changes to a payment request.   As many alternate payment flows involve redirecting your customer
to a third-party site, you have no guarantee they will be properly returned to your site once payment is completed.   For these situations you should make use of webhook notifications.

Notifications are configured by logging into the merchant backoffice and navigating to the <i>Settings --> Notifications</i> section.
<br/>
> NOTE: Access to this function is dependent upon your user account privileges.  If you are unable to access this function please contact your merchant account support representative for assistance.

![](https://github.com/paysafegroup/paysafe_api_alternatepayments_v1/raw/master/images/webhooks_sample.png)

<b>Supported Webhook Event Types</b>

|Event|Description|
|---|---|
|AP\_PAYMENT\_PROCESSING|The Alternate Payments authorization was requested but is still to be accessed by the downstream PSP.|
|AP\_PAYMENT\_COMPLETED|The Alternate Payments authorization was successful.|
|AP\_PAYMENT\_FAILED|The Alternate Payments authorization was declined or rejected.|
|AP\_PAYMENT\_CANCELLED|The Alternate Payments authorization was cancelled.  This is usually the result of a voidauth in a manual settlement transaction.|
|AP\_PAYMENT\_ERRORED|The Alternate Payments authorization has failed due to an error.|
|AP\_PAYMENT\_EXPIRED|The Alternate Payments authorization has expired.|
|AP\_REFUND\_COMPLETED|The Alternate Payments refund was successful.|
|AP\_REFUND\_FAILED|The Alternate Payments refund was declined or rejected.|
|AP\_REFUND\_CANCELLED|The Alternate Payments refund was cancelled.|
|AP\_REFUND\_ERRORED|The Alternate Payments refund has failed due to an error.|
|AP\_REFUND\_EXPIRED|The Alternate Payments refund request has expired. This will only occur if the refund was left in PENDING or PROCESSING state for an extended period of time and never finished.|
|AP\_RETURN\_COMPLETED|The downstream PSP has notified of a credit loss.|
|AP\_RETURN\_REVERSAL\_COMPLETED|The downstream PSP has notified of a late credit and is reversing a previous credit loss notice.|
|AP\_SETTLEMENT\_PENDING|The Alternate Payments settlement is pending batch processing.|
|AP\_SETTLEMENT\_PROCESSING|The Alternate Payments settlement request was received and is in progress.|
|AP\_SETTLEMENT\_COMPLETED|The Alternate Payments settlement was successfully processed.|
|AP\_SETTLEMENT\_FAILED|The Alternate Payments settlement was declined or rejected.|
|AP\_SETTLEMENT\_CANCELLED|The Alternate Payments settlement was cancelled.|
|AP\_SETTLEMENT\_ERRORED|The Alternate Payments settlement has failed due to an error.|
|AP\_SETTLEMENT\_EXPIRED|The Alternate Payments settlement has expired. This typically will only occur on a settle with auth request and the auth was never completed (abandoned by user).|
|AP\_VOIDAUTH\_COMPLETED|The Alternate Payments voidauth was successfully processed.|
|AP\_VOIDAUTH\_ERRORED|The Alternate Payments voidauth was unsuccessful due to error.|
|AP\_VOIDAUTH\_FAILED|The Alternate Payments voidauth was declined.|

<b>Wehooks Signature Validation</b>

When you register an endpoint in the merchant back office, Paysafe will automatically generate an HMAC Secret Key that you can use to validate the authenticity of the notifications you receive.
Notification payloads will include a signature as part of the header response. When you receive a webhook notification, you can validate the signature by using your HMAC Secret Key using the following
logic:

digest = HMAC_SHA256 (Secret Key, UTF string)
signature = base64 (digest)

<br/>
<b><i>Sample Webhook Signature</i></b>

![](https://github.com/paysafegroup/paysafe_api_alternatepayments_v1/raw/master/images/sample_wh_signature.png)

<br/>
> The following code example shows how to calculate the HMAC signature using Java.

```
/**
  * calculating the HMAC signature.
  *
  * digest = HMAC-SHA256 ( secret key, UTF8 string )
  *
  * signature = base64 ( digest )
  *
  * @param hmacKey key
  * @param msg message
  * @return Base64 encoded string
  */
 public static String generateHmacSignature(final String hmacKey, final String msg) {
   final byte[] key = Base64.decodeBase64(hmacKey);
   final byte[] hmac = HmacUtils.hmacSha256(key, msg.getBytes(StandardCharsets.UTF_8));
   return Base64.encodeBase64String(hmac);
 }
 ```
<br/>

# Common Objects

<a name="billingDetails" title="billingDetails Object"></a>
## billingDetails

|Element                 |Type                     |Description |
|---                     |---                      |--- |
|street1                 |string<br/>`length<=50`  |This is the first line of the street address in the billing address.|
|street2                 |string<br/>`length<=50`  |This is the second line of the street address in the billing address, if required (e.g., apartment number).|
|city                    |string<br/>`length<=40`  |This is the city in the billing address.|
|state                   |string<br/>`length<=40`  |See Province Codes or State Codes for Canada or the United States.|
|country                 |string<br/>`length=2`    |The ISO 3166-1 alpha-2 code for the consumer's billing address (e.g., Germany = DE, JP=Japan. CA=Canada).|
|zip                     |string<br/>`length<=10`  |This is the postal/zip code in the billing address.|

```
"billingDetails": {
    "street1": "100QueenStreetWest",
    "street2": "Building 2",
    "city": "Toronto",
    "state": "ON",
    "country": "CA",
    "zip": "M5H2N2"
}
```

<a name="date" title="date Object"></a>
## date

|Element                 |Type                   |Description |
|---                     |---                    |--- |
|day                     |string<br/>`length=2`  |<b>(Required)</b> 2-digit day, DD|
|month                   |string<br/>`length=2`  |<b>(Required)</b> 2-digit month, MM|
|year                    |string<br/>`length=4`  |<b>(Required)</b> 4-digit year, YYYY|


```
{
    "day": "01",
    "month": "12",
    "year": "2000"
}
```

<a name="error" title="error Object"></a>
## error

|Element            |Type                             |Description|
|---                |---                              |---|
|error.code         |string                           |This is the error code.<br/><i>Read Only</i>|
|error.message      |string                           |This is a description of the error.<br/><i>Read Only</i>|
|error.details      |array of string                  |This is a collection of detailed descriptions.<br/><i>Read Only</i>|
|error.fieldErrors  |[array of [object](#fieldError)] |This is a list of fields that have problems.<br/><i>Read Only</i>|
|error.links        |[array of [object](#link)]       |Links to the error documentation.<br/><i>Read Only</i>|
|id                 |string                           |This is the is the unique identifier for the related resource.<br/><i>Read Only</i>|
|merchantRefNum     |string                           |This is the identifier provided by the merchant for a transaction.<br/><i>Read Only</i>|
|riskReasonCode     |string                           |This is the associated risk reason.<br/><i>Read Only</i>|
|links              |[array of [object](#link)]       |The link to the related resource.<br/><i>Read Only</i>|

```
{
"error": {
    "code": "5068",
    "message": "Field Error(s)",
    "details": [
        "Either you submitted a request that is missing a mandatory field or the value of a field does not match the format expected."
    ],
    "fieldErrors": [{
        "field": "recipientEmail",
        "error": "john@hi@you.c.c.c.c is not a valid e-mail address."
    }, {
        "field": "transaction.amount",
        "error": "A transaction amount is required."
    }, {
        "field": "transaction.currency",
        "error": "Currency with value [USD] exceeds the maximum size of [3]."
    }]
}
```

<a name="fieldError" title="fieldError Object"></a>
## fieldError

|Element                 |Type                   |Description |
|---                     |---                    |--- |
|field                   |string                 |Identifies the JSON request field.<br/><i>Read Only</i>|
|error                   |                       |The problem associated with field.<br/><i>Read Only</i>|

```
{
    "field": "transaction.accountProfile.email",
    "error": "Required field"
}
```

<a name="link" title="link Object"></a>
## link

|Element                 |Type                   |Description |
|---                     |---                    |--- |
|rel                     |string                 |This is the link type, allowing different endpoints to be targeted depending on the end state of the transaction. The link relation describes how this link relates to the previous call. *self* will get details of the current call.<br/><i>Read Only</i>|
|href                    |                       |This is the URL to which to send the link. If this is an HTTPS address, please ensure that your certificate is valid – otherwise, the link will cause the browser to display a certificate warning.<br/><i>Read Only</i>|

```
{
    "rel": "self",
    "url": "https://domain.com"
}
```

<a name="payment" title="payment Object"></a>
## payment

|Element                 |Type                   |Description |
|---                     |---                    |--- |
|id                      |string                 |Unique system-generated identifier for this payment.<br/><i>Read Only</i> |
|merchantRefNum          |string                 |<b>(Required)</b> This is the merchant reference number created by the merchant and submitted as part of the request. It must be unique for each request unless you set *dupCheck* to false.|
|dupCheck                |boolean                |This validates that this request is not a duplicate. A request is considered a duplicate if the *merchantRefNum* has already been used in a previous request. Default is *true*.|
|settleWithAuth          |boolean                |This indicates whether the request is an Authorization only (no Settlement), or a Purchase (Authorization and Settlement).<br/><b>false</b> - the request is not automatically settled, you have to post a subsequent Settlement to capture funds.<br/><b>true</b> - the request is settled (default).<br/>If the merchant wants to find out whether an authorization has been settled, they should check the *availableToSettle* element.<br/>If the amount is 0, the authorization has been fully settled.|
|amount                  |number                 |<b>(Required)</b> This is the amount of the request, in minor units. For $10.99 USD the value should be 1099.  For 1000 Japenese Yen that has no decimal values, this should be set to 1000.  For 10.139 Tunisian Dinar which has 3 decimals set this value to 10139.|
|verificationId          |string                 |This is the ID returned in the response to a [Verification request](#createverification). |
|currencyCode            |string                 |This is the currency of the payment.   Default is the account currency.<br/><i>Read Only</i>|
|availableToSettle       |number                 |This is the amount of the Authorization remaining to settle, in minor units.<br/><i>Read Only</i>|
|availableToRefund       |number                 |This is the amount of the authorization remaining to refund, in minor units.  It is visible only if no refunds are done on any of the corresponding Settlements for this payment.<br/><i>Read Only</i>|
|profile                 |[object](#profile)     |These are some details about the consumer.|
|billingDetails          |[object](#billingDetails) |These are the billing details for the payment.|
|shippingDetails         |[object](#shippingDetails) |These are the shipping details for the payment.|
|returnLinks             |[array of [object](#returnLinks)]|The URL endpoint to redirect the consumer to. You can customize the return URL based on the transaction status. 'default' is mandatory|
|txnTime                 |datetime               |ISO 8601 format (UTC) </b>This is the date and time the transaction was processed, e.g., `2014-01-26T10:32:28Z`<br/><i>Read Only</i>|
|error                   |[object](#error)       |The associated error details for this payment, if applicable.<br/><i>Read Only</i>|
|status                  |enum                   |Options:<br/><ul><li>RECEIVED</li><li>INITIATED</li><li>PROCESSING</li><li>COMPLETED</li><li>CANCELLED</li><li>FAILED</li><li>ERROR</li><li>EXPIRED</li></ul><br/><i>Read Only</i>|
|statusReason            |enum                   |Options:<br/><ul><li>USER\_CANCELLED</li><li>MERCHANT\_CANCELLED</li><li>AUTH\_VOIDED</li><li>AUTH\_EXPIRED</li></ul><br/><i>Read Only</i>|
|gatewayResponse         |[object](#gatewayResponse)|Details from the raw response returned by the gateway.<br/><i>Read Only</i>|
|paymentType             |enum                   |<b>(Required)</b>Identifies the type of payment. <br/>Options:<br/><ul><li>BOKU</li><li>GIROPAY</li><li>IDEAL</li><li>NETELLER</li><li>PAYSAFECARD</li><li>PAYOLUTION</li><li>RAPIDTRANSFER</li><li>SKRILL</li><li>SOFORT</li></ul>|
|[Payment Object](#paymentObjects)|object        |Payment object with additional attributes for the requested paymentType.|

```
{
  "merchantRefNum": "0b0ceaa3-42ad-442d-b85b-c3b70f24835d",
  "dupCheck": true,
  "amount": 100,
  "currencyCode": "EUR",
  "profile": {
    "firstName": "Stan",
    "lastName": "Smith",
    "email": "stan.smith@fox.com",
    "ip": "127.0.0.1"
  },
  "billingDetails": {
    "street1": "Street line 1",
    "street2": "Street line 2",
    "city": "Calgary",
    "state": "AB",
    "country": "CA",
    "zip": "T3H3L3"
  },
  "returnLinks": [
    {
      "rel": "default",
      "href": "https://mysite.com/return"
    }
  ],
  "paymentType": "SOFORT",
  "sofort": {
    "descriptor": "sampledesc",
    "sepa": {
      "country": "NL"
    }
  }
}
```

<a name="profile" title="profile Object"></a>
## profile

|Element                 |Type                     |Description |
|---                     |---                      |--- |
|title                   |string                   |This is the consumer's title, e.g. Ms.|
|firstName               |string<br/>`min=2,length<=80`  |<b>(Required)</b>This is the consumer's first name.|
|lastName                |string<br/>`min=2,length<=80`  |<b>(Required)</b>This is the consumer's last name.|
|email                   |string<br/>`min=6,length<=128` |<b>(Required)</b>This is the consumer's email address.|
|dateOfBirth             |[object](#date)          |This is the date of birth of the consumer associated to this profile.|
|gender                  |enum                     |Options:<ul><li>M &ndash; Male</li><li>F &ndash; Female</li><li>O &ndash; Other</li><li>N &ndash; Not Specified</li></ul>|
|phone                   |string<br/>`max=40`      |This is the consumer's primary phone.|
|cellphone               |string                   |This is the consumer's cell phone.|
|ip                      |string<br/>`length<=50`  |This is the IP address the cconsumer's device. (supports IPv4 or IPv6 format)|
|locale                  |enum                     |This is the ISO language code representing the preferred language for this profile.|

```
{
    "title": "Mr",
    "firstName": "John",
    "lastName": "Smith",
    "email": "jsmith@email.com",
    "dateOfBirth": {
        "day": "31",
        "month": "10",
        "year": "1995"
    },
    "gender": "M",
    "phone": "14032221234",
    "cellPhone": "14033332345",
    "ip": "23.51.55.523",
    "locale": "en"
}
```

<a name="refund" title="refund Object"></a>
## refund

|Element                 |Type                         |Description |
|---                     |---                          |--- |
|id                      |string<br/>`length<=36`      |This is the ID returned in the response. This ID can be used for future associated requests.<br/><i>Read Only</i>|
|merchantRefNum          |string<br/>`length<=255`     |This is the merchant reference number created by the merchant and submitted as part of the request. It must be unique for each request.|
|amount                  |number<br/>`max=99999999999` |This is the amount of the request, in minor units. For example, to process US $10.99, this value should be 1099. To process 1000 Japanese yen, this value should be 1000. To process 10.139 Tunisian dinar, this value should be 10139.|
|currencyCode            |string<br/>`length=3`        |Currency code of the original payment.|
|paymentType             |enum                         |Payment type of the original payment.|
|txnTime                 |datetime                     |ISO 8601 format (UTC) This is the date and time the transaction was processed, e.g., `2014-01-26T10:32:28Z`.<br/><i>Read Only</i>|
|error                   |[object](#error)             |The associated error details for this Refund, if applicable.<br/><i>Read Only</i>|
|status                  |enum                         |Options:<br/><ul><li>RECEIVED</li><li>PROCESSING</li><li>COMPLETED</li><li>CANCELLED</li><li>FAILED</li><li>ERROR</li><li>EXPIRED</li></ul><br/><i>Read Only</i>|
|gatewayResponse         |[object](#gatewayResponse)   |Details from the raw response returned by the gateway.<br/><i>Read Only</i>|

```
{
  "id": "6565bce8-9ae2-4359-bc7c-48c2e560810b",
  "merchantRefNum": "xyz",
  "amount": 400,
  "currencyCode": "EUR",
  "paymentType": "SOFORT",
  "txnTime": "2016-02-24T08:39:39Z",
  "status": "COMPLETED",
  "gatewayResponse": {
    "id": "9bcaa7f0dba44c64981881401794abby",
    "code": "000.100.110",
    "description": "Request successfully processed in 'Merchant in Integrator Test Mode'",
    "processor": "PAYON",
    "paymentType": "RF"
  }
}
```

<a name="return" title="return Object"></a>
## return

|Element                 |Type                         |Description |
|---                     |---                          |--- |
|id                      |string                       |This is the ID returned in the response.<br/><i>Read Only</i>|
|amount                  |number<br/>`max=99999999999` |This is the amount of the request, in minor units.For example, to process US $10.99, this value should be 1099. To process 1000 Japanese yen, this value should be 1000. To process 10.139 Tunisian dinar, this value should be 10139.|
|currencyCode            |string<br/>`length=3`        |Currency code of the original payment.|
|paymentType             |enum                         |Payment type of the original payment.|
|txnTime                 |datetime                     |ISO 8601 format (UTC) This is the date and time the transaction was processed, e.g., `2014-01-26T10:32:28Z`.<br/><i>Read Only</i>|
|status                  |enum                         |Options:<br/><ul><li>COMPLETED</li></ul><br/><i>Read Only</i>|

```
{
    "id": "30381792-1237-4868-8fd3-73196e94d009",
    "amount": "2399",
    "currencyCode": "EUR",
    "paymentType": "SOFORT",
    "tnxTime": "2017-03-14T20:07:39Z",
    "status": "COMPLETED"
}
```

<a name="returnLink" title="returnLink Object"></a>
## returnLink

|Element                 |Type                   |Description |
|---                     |---                    |--- |
|rel                     |string<br/>`length=X`  |Options:<ul><li><b>default</b> - The default return URL, which will be used if specific status return URL is not defined.</li><li><b>on\_pending</b></li><li><b>on\_completed</b></li><li><b>on\_failed</b></li><li><b>on\_cancelled</b></li><li><b>on\_error</b></li>|
|href                    |string<br/>`length=X`  |The TLS secured endpoint to return the consumer to.|

```
{
  "rel": "default",
  "href": "https://mysite.com/return"
}
```

<a name="settlement" title="settlement Object"></a>
## settlement

|Element                 |Type                   |Description |
|---                     |---                    |--- |
|id                      |string                 |This is the ID returned in the response. This ID can be used for future associated requests.<br/><i>Read Only</i>|
|merchantRefNum          |string                 |<b>(Required)</b> This is the merchant reference number created by the merchant and submitted as part of the request. It must be unique for each request unless you set *dupCheck* to false.|
|dupCheck                |boolean                |This validates that this request is not a duplicate. A request is considered a duplicate if the *merchantRefNum* has already been used in a previous request. Default is *true*.|
|amount                  |number                 |<b>(Required)</b> This is the amount of the request, in minor units.|
|currencyCode            |string                 |This is the currency of the payment.|
|paymentType             |enum                   |Payment type of the original payment.|
|[Payment Object](#paymentObjects)|object        |Optional payment object depending upon the paymentType.|
|txnTime                 |datetime               |This is the date and time the transaction was processed, e.g., `2014-01-26T10:32:28Z`.<br/><i>Read Only</i>|
|availableToRefund       |number                 |This is the amount of this Settlement that is available to Refund, in minor units.<br/><i>Read Only</i>|
|error                   |[object](#error)       |The associated error details for this Settlement (if applicable).<br/><i>Read Only</i>|
|status                  |enum                   |Options:<br/><ul><li>RECEIVED</li><li>PENDING</li><li>PROCESSING</li><li>COMPLETED</li><li>CANCELLED</li><li>FAILED</li><li>ERROR</li><li>EXPIRED</li></ul><br/><i>Read Only</i>|
|gatewayResponse         |[object](#gatewayResponse)|Details from the raw response returned by the gateway.<br/><i>Read Only</i>|


```
{
    "id": "30381792-1237-4868-8fd3-73196e94d009",
    "merchantRefNum": "1489522059",
    "dupCheck": true,
    "amount": 100,
    "currencyCode": "EUR",
    "paymentType": "PAYOLUTION",
    "txnTime": "2017-03-14T20:07:39Z",
    "availableToRefund": 100,
    "status": "COMPLETED",
    "gatewayResponse": {
        "id": "d3188d9c-f81a-4958-8505-03764bf577f2",
        "code": "0.0.0",
        "description": "The request was processed successfuly.",
        "processor": "PAYOLUTION",
        "paymentType": "DB"
    }
}
```

<a name="sepa" title="sepa Object"></a>
## sepa

|Element                 |Type                     |Description |
|---                     |---                      |--- |
|bankName                |string                   |The name of the bank.|
|country                 |string<br/>`length=2`    |The ISO 3166-1 alpha-2 code for the consumer's country of residence (e.g., Germany = DE, JP=Japan. CA=Canada).|
|accountHolderName       |string<br/>`length<=50`  |This is the name of the consumer or company.|
|bic                     |string<br/>`length=8-11` |This is the Bank Identifier Code for the consumer's bank account.|
|iban                    |string<br/>`length=1-34` |This is the International Bank Account Number for the consumer's bank account.|

```
"sepa": {
    "bankName": "ING",
    "country": "NL",
    "accountHolderName": "John Doe",
    "bic": "ABNANL2APIP",
    "iban": "DE89370400440532013000"
}
```

<a name="shippingDetails" title="shippingDetails Object"></a>
## shippingDetails

|Element                 |Type                    |Description |
|---                     |---                     |--- |
|carrier                 |enum                    |This is the shipment carrier. Possible values are:<ul><li>APC – APC Overnight</li><li>APS – Anpost</li><li>CAD – Canada Postal Service</li><li>DHL – DHL</li><li>FEX – Fedex</li><li>RML – Royal Mail</li><li>UPS – United Parcel Service</li><li>USPS – United States Postal Service</li><li>CLK – CityLink</li><li>EMS – EMS (US Postal Service)</li><li>NEX – Nexworldwide</li><li>OTHER|</li></ul>|
|shipMethod              |enum                    |This is the method of shipment. Possible values are:<ul><li>N – Next Day/Overnight</li><li>T – Two-Day Service</li><li>C – Lowest Cost</li><li>O – Other</li></ul>|
|recipientName           |string<br/>`length=255` |This is the name of the person receiving the goods.|
|street                  |string<br/>`length<=50` |This is the recipient's street address.|
|street2                 |string<br/>`length<=50` |This is the second line of the street address in the shipping address, if required (e.g., apartment number).|
|city                    |string<br/>`length<=40` |This is the city in which the recipient resides.|
|state                   |string                  |See Province Codes or State Codes for Canada or the United States.|
|country                 |enum                    |The ISO 3166-1 alpha-2 code for the consumer's shipping address (e.g. Germany = DE, JP=Japan. CA=Canada)|
|zip                     |string                  |This is the recipient's post code.|

```
"shippingDetails": {
    "carrier":"UPS",
    "shipMethod":"N",
    "recipientName":"Jane Smith",
    "street":"100 Queen Street West",
    "city":"Toronto",
    "state":"ON",
    "country":"CA",
    "zip":"M5H 2N2"
}
```

<a name="standaloneCredit" title="standaloneCredit Object"></a>
## standaloneCredit

|Element                 |Type                   |Description |
|---                     |---                    |--- |
|id                      |string                 |This is the ID returned in the response. This ID can be used for future associated requests.<br/><i>Read Only</i> |
|merchantRefNum          |string                 |<b>(required)</b> This is the merchant reference number created by the merchant and submitted as part of the request. It must be unique for each request unless you set *dupCheck* to false.|
|dupCheck                |boolean                |This validates that this request is not a duplicate. A request is considered a duplicate if the *merchantRefNum* has already been used in a previous request. Default is *true*.|
|amount                  |number                 |This is the amount of the request, in minor units. For $10.99 USD the value should be 1099.  For 1000 Japanese yen, which has no decimal values, this should be set to 1000.  For 10.139 Tunisian Dinar which has 3 decimals set this value to 10139.|
|currencyCode            |string                 |This is the currency of the payment.   Default is the account currency.|
|paymentType             |enum                   |Payment type of the original payment.|
|profile                 |[object](#profile)     |These are some details about the customer.|
|billingDetails          |[object](#billingDetails) |These are the billing details for the payment.|
|txnTime                 |datetime               |ISO 8601 format (UTC) </b>This is the date and time the transaction was processed, e.g., `2014-01-26T10:32:28Z`<br/><i>Read Only</i>|
|error                   |[object](#error)       |The associated error details for this payment (if applicable).<br/><i>Read Only</i>|
|status                  |enum                   |Options:<br/><ul><li>RECEIVED</li><li>PENDING</li><li>PROCESSING</li><li>COMPLETED</li><li>CANCELLED</li><li>FAILED</li><li>ERROR</li><li>EXPIRED</li></ul><br/><i>Read Only</i>|
|gatewayResponse         |[object](#gatewayResponse)|Details from the raw response returned by the gateway.<br/><i>Read Only</i>|

```
{
    "id": "21fa4850-0c82-4c67-997d-2c9654de91cd",
    "merchantRefNum": "1520357063",
    "dupCheck": true,
    "amount": 100,
    "currencyCode": "EUR",
    "paymentType": "SKRILL",
    "profile": {
        "firstName": "merchant",
        "lastName": "simulator",
        "email": "cc@cc.com",
        "ip": "127.0.0.1"
    },
    "billingDetails": {
        "street1": "string",
        "street2": "string",
        "zip": "string",
        "city": "string",
        "country": "NL",
        "state": "FL"
    },
    "returnLinks": [
        {
            "rel": "on_cancelled",
            "href": "http://www.google.ca"
        },
        {
            "rel": "default",
            "href": "http://www.amazon.ca"
        }
    ],
    "skrill": {
        "consumerId": "john.doe@email.com",
        "emailSubject": "Email Subject",
        "emailMessage": "Note for email here."
    },
    "liveMode": false,
    "txnTime": "2018-03-06T17:24:23Z",
    "status": "COMPLETED",
    "gatewayResponse": {
        "status": "2",
        "sid": "58e330448aa4cc4e913fd690d3664c6f",
        "processor": "SKRILL_QCO"
    },
    "links": [
        {
            "rel": "self",
            "href": "http://api.paysafe.com/alternatepayments/v1/accounts/1520356513/standalonecredits/21fa4850-0c82-4c67-997d-2c9654de91cd"
        }
    ]
}
```

<a name="verification" title="verification Object"></a>
## verification

|Element                 |Type                   |Description |
|---                     |---                    |--- |
|id                      |string                 |Unique system-generated identifier for this request.<br/><i>Read Only</i> |
|merchantRefNum          |string                 |This is the merchant reference number created by the merchant and submitted as part of the request. It must be unique for each request unless you set *dupCheck* to false.|
|dupCheck                |boolean                |This validates that this request is not a duplicate. A request is considered a duplicate if the *merchantRefNum* has already been used in a previous request. Default is *true*.|
|amount                  |number                 |This is the amount of the request, in minor units. For $10.99 USD the value should be 1099.  For 1000 Japenese Yen that has no decimal values, this should be set to 1000.  For 10.139 Tunisian Dinar which has 3 decimals set this value to 10139.<br/>**Note:** Although the *amount* field is required for a Verification request, no amount is processed.|
|payolution              |[object](#payolution)  |This is the payolution payment object. |
|paymentType             |enum                   |Identifies the type of payment instrument. <br/>Options:<br/><ul><li>PAYOLUTION</li></ul>|
|profile                 |[object](#profile)     |These are some details about the consumer.|
|billingDetails          |[object](#billingDetails) |These are the billing details for the request.|
|shippingDetails         |[object](#shippingDetails) |These are the shipping details for the request.|
|currencyCode            |string                 |This is the currency of the request.   Default is the account currency.|
|returnLinks             |[object](#returnLinks) |The url endpoint to redirect the consumer to. You can customize the return url based on the transaction status. 'default' is mandatory.|
|txnTime                 |datetime               |ISO 8601 format (UTC) </b>This is the date and time the transaction was processed, e.g., `2014-01-26T10:32:28Z`<br/><i>Read Only</i>|
|error                   |[object](#error)       |The associated error details for this request, if applicable. <br/>*Read Only* |
|status                  |enum                   |Options:<br/><ul><li>RECEIVED</li><li>FAILED</li><li>COMPLETED</li><li>ERROR</li></ul><br/><i>Read Only</i>|
|gatewayResponse         |[object](#gatewayResponse)|Details from the raw response returned by the gateway.<br/><i>Read Only</i>|

```
{
  "merchantRefNum": "0b0ceaa3-42ad-442d-b85b-c3b70f24835d",
  "dupCheck": true,
  "amount": 100,
  "currencyCode": "EUR",
  "profile": {
    "firstName": "Stan",
    "lastName": "Smith",
    "email": "stan.smith@fox.com",
    "ip": "127.0.0.1"
  },
  "billingDetails": {
    "street1": "Street line 1",
    "street2": "Street line 2",
    "city": "Calgary",
    "state": "AB",
    "country": "CA",
    "zip": "T3H3L3"
  },
  "returnLinks": [
    {
      "rel": "default",
      "href": "https://mysite.com/return"
    }
  ],
  "paymentType": "SOFORT",
  "sofort": {
    "descriptor": "sampledesc",
    "sepa": {
      "bankName": "ing",
      "country": "NL"
    }
  }
}
```

<a name="voidauth" title="voidAuth Object"></a>
## voidauth

|Element                 |Type                   |Description |
|---                     |---                    |--- |
|id                      |string                 |This is the ID returned in the response. This ID can be used for future associated requests.<br/><i>Read Only</i> |
|merchantRefNum          |string                 |<b>(Required)</b> This is the merchant reference number created by the merchant and submitted as part of the request. It must be unique for each request unless you set *dupCheck* to false.|
|dupCheck                |boolean                |This validates that this request is not a duplicate. A request is considered a duplicate if the *merchantRefNum* has already been used in a previous request. Default is *true*.|
|amount                  |number                 |This is the amount of the request, in minor units. For $10.99 USD the value should be 1099.  For 1000 Japanese yen, which has no decimal values, this should be set to 1000.  For 10.139 Tunisian Dinar which has 3 decimals set this value to 10139.|
|currencyCode            |string                 |This is the currency of the payment.   Default is the account currency.|
|paymentType             |enum                   |This identifies the type of payment. If not included, it is inferred from the authorization that is being voided (reversed).<br/>Options:<br/><ul><li>PAYOLUTION</li></ul>|
|txnTime                 |datetime               |ISO 8601 format (UTC) This is the date and time the transaction was processed, e.g., `2014-01-26T10:32:28Z`.<br/><i>Read Only</i>|
|error                   |[object](#error)       |The associated error details for this payment (if applicable).<br/><i>Read Only</i>|
|status                  |enum                   |Options:<br/><ul><li>RECEIVED</li><li>COMPLETED</li><li>FAILED</li><li>ERROR</li><br/><i>Read Only</i>|
|gatewayResponse         |[object](#gatewayResponse)|Details from the raw response returned by the gateway.<br/><i>Read Only</i>|


```
{
  "id": "d1fb46ee-2736-4ef5-a724-f263ace75373",
  "merchantRefNum":"merchant ABC-123-voidauths",
  "amount":898,
  "currencyType" : "CAD",
  "txnTime":"2014-03-14T15:12:18Z",
  "status":"COMPLETED"
}
```

<a name="paymentObjects" title="PaymentType Objects"></a>
# PaymentType Objects

PaymentType objects are used to define additional values that can be supplied depending on your request type.
These objects are nested as part of your Payment, Settlement, Verification or Standalone Credit request.
<br/><br/>

__**LEGEND**__
|                |    |
|:---:           |---           |
|**Symbol**      |**Definition**|
|&#9862;         |Optional      |
|&#9864;         |Required      |
|&#8210;         |Not Applicable|
|                |              |
|**Abbreviation**|**Resource Type**|
|V               |Verification  |
|P               |Payment       |
|S               |Settlement    |
|SC              |Standalone Credit|

<a name="boku" title="Boku Payment Object"></a>
## boku

![Boku](https://github.com/paysafegroup/paysafe_api_alternatepayments_v1/raw/master/images/payment_icons/boku.png)

|Element                 |Type                    |                 |                       |                       |                  |Description|
|---                     |---                     |:---:            |:---:                  |:---:                  |:---:             |---|
|                        |**supported resources** |_**V**_          |_**P**_                |_**S**_                |_**SC**_          |   |
|descriptor              |string<br/>`length<=20` |&#8210;          |&#9864;                |&#8210;                |&#8210;           |Descriptor to display on customer's statement.|
|consumerId              |string<br/>`length<=255`|&#8210;          |&#9864;                |&#8210;                |&#8210;           |Consumer identifier in merchant system.  This value is used to perform payment transaction risk checks which are intended to limit fraud targeted at using many MSISDNs by the same consumer account in a merchant system.|
|consumerCountry         |string                  |&#8210;          |&#9864;                |&#8210;                |&#8210;           |The ISO 3166-1 alpha-2 code for the country of registration for the customer's mobile phone (e.g., Germany = DE, JP=Japan. CA=Canada).|
|consumerMobilePhone     |string                  |&#8210;          |&#9864;                |&#8210;                |&#8210;           |The customer's mobile phone number.|

```
"boku": {
    "descriptor": "custom descriptor",
    "consumerId": "CUS_12345678",
    "consumerCountry": "GB",
    "consumerMobilePhone": "44292102029"
}
```

<a name="giropay" title="Giropay Payment Object"></a>
## giropay

![Giropay](https://github.com/paysafegroup/paysafe_api_alternatepayments_v1/raw/master/images/payment_icons/giropay.png)

|Element                 |Type                   |                 |                       |                       |                  |Description|
|---                     |---                    |:---:            |:---:                  |:---:                  |:---:             |---|
|                        |**supported resources**|_**V**_          |_**P**_                |_**S**_                |_**SC**_          |   |
|descriptor              |string<br/>`length<=16`|&#8210;          |&#9864;                |&#8210;                |&#8210;           |This is the merchant descriptor that will be displayed on the customer's bank statement.|
|sepa                    |[object](#sepa)        |&#8210;          |&#9862;                |&#8210;                |&#8210;           |The consumer's SEPA bank account details.|
|sepa.accountHolderName  |string                 |&#8210;          |&#9862;                |&#8210;                |&#8210;           |The account holder's name.|
|sepa.bic                |string                 |&#8210;          |&#9862;                |&#8210;                |&#8210;           |The Bank Identifier Code (BIC) of the account.|
|sepa.iban               |string                 |&#8210;          |&#9862;                |&#8210;                |&#8210;           |The International Bank Account Number (IBAN) of the account.|

```
"giropay": {
    "descriptor": "custom descriptor",
    "sepa": {
        "accountHolderName": "John Doe",
        "bic": "ABNANL2APIP",
        "iban": "DE89370400440532013000"
    }
}
```

<a name="neteller" title="NETELLER Payment Object"></a>
## neteller

![Neteller](https://github.com/paysafegroup/paysafe_api_alternatepayments_v1/raw/master/images/payment_icons/neteller.png)

|Element                        |Type                   |                 |                       |                       |                  |Description|
|---                            |---                    |:---:            |:---:                  |:---:                  |:---:             |---|
|                               |**supported resources**|_**V**_          |_**P**_                |_**S**_                |_**SC**_          |   |
|consumerId                     |string                 |&#8210;          |&#9862;                |&#8210;                |&#8210;           |Email address or NETELLER Account ID of the consumer who is making the payment. If provided, this field is hidden on the payment form. If left empty, the customer has to enter their email address.|
|consumerVerificationId         |string                 |&#8210;          |&#9862;                |&#8210;                |&#8210;           |The consumers NETELLER secure ID, or two step authorization token generated on their device.|
|recipientDescription           |string<br>`length<=30` |&#8210;          |&#9862;                |&#8210;                |&#8210;           |A description to be shown on the NETELLER payment page in the logo area if there is no logo\_url parameter. If no value is submitted and there is no logo, the pay\_to\_email value is shown as the recipient of the payment. |
|language                       |string<br>`length=2`   |&#8210;          |&#9862;                |&#8210;                |&#8210;           |The 2-character preferred language code for the consumer (e.g., EN, FR).|
|logoUrl                        |string                 |&#8210;          |&#9862;                |&#8210;                |&#8210;           |The URL of the logo which you would like to appear in the top right of the NETELLER page. The logo must be accessible via HTTPS or it will not be shown. The logo will be resized to fit. To avoid scaling distortion, the minimum size should be as follows:<br>If the logo width > height - at least 107px wide.<br>If logo width > height - at least 65px high.<br>Avoid large images (much greater than 256 by 256px) to minimize the page loading time.|
|detail1Description             |string                 |&#8210;          |&#9862;                |&#8210;                |&#8210;           |You can show additional details about the product in the More information section in the header of Quick Checkout.|
|detail1Text                    |string                 |&#8210;          |&#9862;                |&#8210;                |&#8210;           |The detail1Text is shown next to the detail1Description in the More Information section in the header of the payment form with the other payment details. The detail1Description combined with the detail1Text is shown in the more information field of the merchant account history CSV file.|

```
"neteller": {
    "consumerId":"neteller.account@example.org",
    "consumerVerivicationId":"123456",
    "recipientDescription":"logo_url_alt_text",
    "language":"EN",
    "logoUrl":"http://www.paysafe.com/icon.jpg",
    "detail1Description":"Details 1 description",
    "detail1Text":"Details 1 text"
}
```

<a name="payolution" title="Payolution Payment Object"></a>
## payolution

![Payolution](https://github.com/paysafegroup/paysafe_api_alternatepayments_v1/raw/master/images/payment_icons/payolution.png)

|Element                    |Type                                     |                 |                       |                       |                  |Description|
|---                        |---                                      |:---:            |:---:                  |:---:                  |:---:             |---|
|                           |**supported resources**                  |_**V**_          |_**P**_                |_**S**_                |_**SC**_          |   |
|productType                |enum                                     |&#9864;          |&#9864;                |&#9862;                |&#8210;           |**Note:** You must have a separate merchant account for each product type, i.e., one for INVOICE and one for INSTALLMENTS. Possible values are:<ul><li>INVOICE &ndash; Use for regular authorization request to be followed up with a Settlement.</li><li>INSTALLMENTS &ndash; Use when consumer has opted for installment payments.</li></ul> |
|descriptor                 |string<br/>`length=X`                    |&#9862;          |&#9862;                |&#9862;                |&#8210;           |This is the merchant descriptor that will be displayed on the consumer's bank statement.|
|sepa                       |[object](#sepa)                          |&#9864;          |&#9862;                |&#9862;                |&#8210;           |These are consumer bank details, used for Direct Debit INSTALLMENT payments. |
|plans                      |[object](#payolution.plans)              |&#9862;          |&#9862;                |&#9862;                |&#8210;           |If the consumer is eligible, this object contains installments with amount and due date plus some additional parameters like interest, etc., for the Payment Authorization.<br/><i>Read Only</i>|
|planDuration               |string<br/>`length=X`                    |&#9862;          |&#9862;                |&#9862;                |&#8210;           |This is the duration, in months, of the plan selected by the consumer. |
|paymentInformation         |[object](#payolution.paymentInformation) |&#9862;          |&#9862;                |&#9862;                |&#8210;           |This is the information that tells the consumer where to send the payment, when they have opted for installment payments.<br/><i>Read Only</i>|
|analysis                   |object                                   |&#9862;          |&#9862;                |&#9862;                |&#8210;           |This object is a list of key,value pairs containing additional information for analysis and to improve Payolution's risk assessment processes.|

```
"payolution": {
    "productType": "INSTALLMENTS",
    "descriptor": "Order with ID 4ab2",
    "plans": [{
        "paymentDetails": [{
            "installments": [{
                    "amount": 16820,
                    "due": "2013-07-16"
                },
                {
                    "amount": 16820,
                    "due": "2013-08-05"
                },
                {
                    "amount": 16820,
                    "due": "2013-09-05"
                }
            ],
            "originalAmount": 49999,
            "totalAmount": 50460,
            "minimumInstallmentFee": 0,
            "duration": 3,
            "interestRate": 14.95,
            "effectiveInterestRate": 15.60,
            "standardCreditInformationUrl": "https://test-payment.payolution.com/payolution-payment/rest/query/customerinfo/pdf?trxId=Tx-xzprcfl958m&amp;duration=3"
        }],
        "tacUrl": "https://test-payment.payolution.com/payolution-payment/infoport/termsandconditions?channelId=paysafe-installment",
        "dataPrivacyConsentUrl": "https://test-payment.payolution.com/payolution-payment/infoport/dataprivacydeclaration?channelId=paysafe-installment",
        "planDuration": "3",
        "sepa": {
            "bankName": "ING",
            "country": "NL",
            "accountHolderName": "John Doe",
            "bic": "ABNANL2APIP",
            "iban": "DE89370400440532013000"
        },
        "paymentInformation": {
            "paymentReference": "YTTR-WMQX-KLGW",
            "iban": "AT611904300234573201456",
            "bic": "BFRILI22XXX",
            "accountHolderName": "Test Merchant"
        },
        "analysis": [{
            "key": "PAYOLUTION_CUSTOMER_GROUP",
            "value": "TOP"
        }, {
            "key": "PAYOLUTION_MODULE_NAME",
            "value": "PaymentModuleName"
        }, {
            "key": "PAYOLUTION_INVOICE_ID",
            "value": "23498739478"
        }, {
            "key": "PAYOLUTION_ORDER_ID",
            "value": "23498739478"
        }]

    }]
}
```


<a name="payolution.plans" title="payolution.plans Object"></a>
## &nbsp;&nbsp; .plans

|Element                        |Type                                 |                 |                       |                       |                  |Description|
|---                            |---                                  |:---:            |:---:                  |:---:                  |:---:             |---|
|                               |**supported resources**              |_**V**_          |_**P**_                |_**S**_                |_**SC**_          |   |
|paymentDetails                 |[array of [object](#payolution.paymentDetails)] |&#9864;&#8224;   |&#9864;&#8224;         |&#8210;                |&#8210;           |This is an array of payment details objects. <br/><i>Read Only</i>|
|tacUrl                         |string                               |&#9864;&#8224;   |&#9864;&#8224;         |&#8210;                |&#8210;           |This is a URL pointing to the Terms and Conditions for the payment plan.<br/><i>Read Only</i>|
|dataPrivacyConsentUrl          |string                               |&#9864;&#8224;   |&#9864;&#8224;         |&#8210;                |&#8210;           |This is a URL pointing to the data privacy declaration for the payment plan.<br/><i>Read Only</i>|

> &#8224; - These fields are only returned for Payolution INSTALLMENT responses.

```
{
    "paymentDetails": [{
        "originalAmount": 1000,
        "totalAmount": 1026,
        "minimumInstallmentFee": 0,
        "duration": 3,
        "interestRate": 14.95,
        "effectiveInterestRate": 16.02,
        "standardCreditInformationUrl": "https://test-payment.payolution.com/payolution-payment/rest/query/customerinfo/pdf?trxId=b08a1d6a-5249-4271-944f-9695357b9fd6;duration=3",
        "installments": [{
                "amount": 342,
                "due": "2018-02-05"
            },
            {
                "amount": 342,
                "due": "2018-03-05"
            },
            {
                "amount": 342,
                "due": "2018-04-05"
            }
        ]
    }],
    "tacUrl": "https://test-payment.payolution.com/payolution-payment/infoport/termsandconditions?channelId=paysafe-installment",
    "dataPrivacyConsentUrl": "https://test-payment.payolution.com/payolution-payment/infoport/dataprivacydeclaration?channelId=paysafe-installment"
}
```

<a name="payolution.paymentDetails" title="payolution.paymentDetails Object"></a>
## &nbsp;&nbsp;&nbsp;&nbsp; .paymentDetails

|Element                        |Type                                    |                 |                       |                       |                  |Description|
|---                            |---                                     |:---:            |:---:                  |:---:                  |:---:             |---|
|                               |**supported resources**                 |_**V**_          |_**P**_                |_**S**_                |_**SC**_          |   |
|installments                   |[object](#payolution.installments)      |&#9864;&#8224;   |&#9864;&#8224;         |&#8210;                |&#8210;           |These are details about the payolution installment plan for the consumer. <br/><i>Read Only</i>|
|originalAmount                 |number                                  |&#9864;          |&#9864;                |&#8210;                |&#8210;           |This is the original amount of the Verification, in minor units. <br/><i>Read Only</i>|
|totalAmount                    |number                                  |&#9864;          |&#9864;                |&#8210;                |&#8210;           |This is the total amount to be paid by the consumer (i.e., the sum of all installments).<br/><i>Read Only</i>|
|minimumInstallmentFee          |number                                  |&#9864;          |&#9864;                |&#8210;                |&#8210;           |This is the minimum installment fee.<br/><i>Read Only</i>|
|duration                       |number                                  |&#9864;          |&#9864;                |&#8210;                |&#8210;           |This is the duration, in months, of the payment plan.<br/><i>Read Only</i>|
|interestRate                   |number                                  |&#9864;          |&#9864;                |&#8210;                |&#8210;           |This is interest rate of the payment plan.<br/><i>Read Only</i>|
|effectiveInterestRate          |number                                  |&#9864;          |&#9864;                |&#8210;                |&#8210;           |This is effective interest rate of the payment plan.<br/><i>Read Only</i>|
|standardCreditInformationUrl   |string                                  |&#9864;          |&#9864;                |&#8210;                |&#8210;           |This is a URL pointing to a PDF file containing the full credit information in the standard European consumer credit information form.<br/><i>Read Only</i>|

> &#8224; - These fields are only returned for Payolution INSTALLMENT responses.

```
"paymentDetails": [{
    "installments": [{
            "amount": 16820,
            "due": "2013-07-16"
        },
        {
            "amount": 16820,
            "due": "2013-08-05"
        },
        {
            "amount": 16820,
            "due": "2013-09-05"
        }
    ],
    "originalAmount": 49999,
    "totalAmount": 50460,
    "minimumInstallmentFee": 0,
    "duration": 3,
    "interestRate": 14.95,
    "effectiveInterestRate": 15.60,
    "standardCreditInformationUrl": "https://test-payment.payolution.com/payolution-payment/rest/query/customerinfo/pdf?trxId=Tx-xzprcfl958m&amp;duration=3"
}]
```

<a name="payolution.installments" title="payolution.installments Object"></a>
##  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; .installments

|Element                        |Type                   |                 |                       |                       |                  |Description|
|---                            |---                    |:---:            |:---:                  |:---:                  |:---:             |---|
|                               |**supported resources**|_**V**_          |_**P**_                |_**S**_                |_**SC**_          |   |
|amount                         |number                 |&#9864;&#8224;   |&#9864;&#8224;         |&#8210;                |&#8210;           |This is the amount of the installment payment.<br/><i>Read Only</i>|
|due                            |string                 |&#9864;&#8224;   |&#9864;&#8224;         |&#8210;                |&#8210;           |This is the due date of the installment payment.<br/><i>Read Only</i>|

> &#8224; - These fields are only returned for Payolution INSTALLMENT responses.

```
            {
                "installments": [{
                        "amount": 16820,
                        "due": "2013-07-16"
                    },
                    {
                        "amount": 16820,
                        "due": "2013-08-05"
                    },
                    {
                        "amount": 16820,
                        "due": "2013-09-05"
                    }
                ]
            }
```

<a name="payolution.paymentInformation" title="payolution.paymentInformation Object"></a>
## &nbsp;&nbsp; .paymentInformation

|Element                        |Type                   |                 |                       |                       |                  |Description|
|---                            |---                    |:---:            |:---:                  |:---:                  |:---:             |---|
|                               |**supported resources**|_**V**_          |_**P**_                |_**S**_                |_**SC**_          |   |
|paymentReference               |string                 |&#9864;          |&#9864;                |&#8210;                |&#8210;           |The string to use as a reason for the payment.<br/><i>Read Only</i>|
|iban                           |string                 |&#9864;          |&#9864;                |&#8210;                |&#8210;           |The IBAN to send the payment to.<br/><i>Read Only</i>|
|bic                            |string                 |&#9864;          |&#9864;                |&#8210;                |&#8210;           |The BIC of the bank to send the payment to.<br/><i>Read Only</i>|
|bankName                       |string                 |&#9864;          |&#9864;                |&#8210;                |&#8210;           |This is the name of the bank to send the payment to.<br/><i>Read Only</i>|
|accountHolderName              |string                 |&#9864;          |&#9864;                |&#8210;                |&#8210;           |This is the name of the beneficiary.<br/><i>Read Only</i>|

```
{
    "paymentReference": "YTTR-WMQX-KLGW",
    "iban": "AT611904300234573201456",
    "bic": "BFRILI22XXX",
    "bankName": "Musterbank",
    "accountHolderName": "Test Merchant"
}
```



<a name="paysafecard" title="Paysafecard Payment Object"></a>
## paysafecard

![Paysafecard](https://github.com/paysafegroup/paysafe_api_alternatepayments_v1/raw/master/images/payment_icons/paysafecard.png)

|Element                        |Type                   |                 |                       |                       |                  |Description|
|---                            |---                    |:---:            |:---:                  |:---:                  |:---:             |---|
|                               |**supported resources**|_**V**_          |_**P**_                |_**S**_                |_**SC**_          |   |
|consumerId                     |string                 |&#8210;          |&#9864;                |&#8210;                |&#8210;           |The unique identifier of the consumer at the merchant. For security purposes, if any personal data is used (e.g., consumer's user name, email address, etc.), it has to be encrypted or hashed.|
|ageRestriction                 |number                 |&#8210;          |&#9862;                |&#8210;                |&#8210;           |Minimum age restriction for the transaction.|
|kycLevelRestriction            |string                 |&#8210;          |&#9862;                |&#8210;                |&#8210;           |The KYC level that will be required for the transaction. Options:<ul><li>FULL</li><li>SIMPLE</li></ul>|
|countryRestriction             |string<br>`length=2`   |&#8210;          |&#9862;                |&#8210;                |&#8210;           |The ISO 3166-1 alpha-2 code of the country to which the transaction will be restricted.|

```
"paysafecard": {
    "consumerId": "merchantclientid",
    "minAgeRestriction": 18,
    "kycLevelRestriction": "SIMPLE",
    "countryRestriction": "DE"
}
```

<a name="paysafecash" title="Paysafecash Payment Object"></a>
## paysafecash

![Paysafecard](https://github.com/paysafegroup/paysafe_api_alternatepayments_v1/raw/master/images/payment_icons/paysafecash.png)

|Element                        |Type                   |                 |                       |                       |                  |Description|
|---                            |---                    |:---:            |:---:                  |:---:                  |:---:             |---|
|                               |**supported resources**|_**V**_          |_**P**_                |_**S**_                |_**SC**_          |   |
|consumerId                     |string                 |&#8210;          |&#9864;                |&#8210;                |&#8210;           |The unique identifier of the consumer at the merchant. For security purposes, if any personal data is used (e.g., consumer's user name, email address, etc.), it has to be encrypted or hashed.|
|ageRestriction                 |number                 |&#8210;          |&#9862;                |&#8210;                |&#8210;           |Minimum age restriction for the transaction.|
|kycLevelRestriction            |string                 |&#8210;          |&#9862;                |&#8210;                |&#8210;           |The KYC level that will be required for the transaction. Options:<ul><li>FULL</li><li>SIMPLE</li></ul>|
|countryRestriction             |string<br>`length=2`   |&#8210;          |&#9862;                |&#8210;                |&#8210;           |The ISO 3166-1 alpha-2 code of the country to which the transaction will be restricted.|

```
"paysafecash": {
    "consumerId": "merchantclientid",
    "minAgeRestriction": 18,
    "kycLevelRestriction": "SIMPLE",
    "countryRestriction": "DE"
}
```

<a name="rapidtransfer" title="Rapid Transfer Payment Object"></a>
## rapidtransfer

![RapidTransfer](https://github.com/paysafegroup/paysafe_api_alternatepayments_v1/raw/master/images/payment_icons/rapidtransfer.png)

|Element                        |Type                   |                 |                       |                       |                  |Description|
|---                            |---                    |:---:            |:---:                  |:---:                  |:---:             |---|
|                               |**supported resources**|_**V**_          |_**P**_                |_**S**_                |_**SC**_          |   |
|descriptor                     |string<br/>`length=X`  |&#8210;          |&#9862;                |&#8210;                |&#8210;           |This is the merchant descriptor that will be displayed on the consumer's bank statement.|
|sepa                           |[object](#sepa)        |&#8210;          |&#9862;                |&#8210;                |&#8210;           |The consumer's SEPA bank account details (if applicable). |
|sepa.bankName                  |enum                   |&#8210;          |&#8210;                |&#8210;                |&#8210;           |The consumer's bank.|
|sepa.country                   |enum                   |&#8210;          |&#9862;                |&#8210;                |&#8210;           |The ISO 3166-1 alpha-2 code for the consumer's bank (e.g., Germany = DE, JP=Japan, CA=Canada).|
|sepa.iban                      |string                 |&#8210;          |&#9862;                |&#8210;                |&#8210;           |The International Bank Account Number (IBAN) of the account.|
|sepa.bic                       |string                 |&#8210;          |&#9862;                |&#8210;                |&#8210;           |The Bank Identifier Code (BIC) of the account.|
|sepa.accountHolderName         |string                 |&#8210;          |&#8210;                |&#8210;                |&#8210;           |The account holder's name.|

```
"rapidTransfer": {
    "descriptor": "custom descriptor"
}
```

<a name="skrill" title="Skrill Payment Object"></a>
## skrill

![Skrill](https://github.com/paysafegroup/paysafe_api_alternatepayments_v1/raw/master/images/payment_icons/skrill.png)

|Element                 |Type                   |                 |                       |                       |                  |Description|
|---                     |---                    |:---:            |:---:                  |:---:                  |:---:             |---|
|                        |**supported resources**|_**V**_          |_**P**_                |_**S**_                |_**SC**_          |   |
|consumerId              |string                 |&#8210;          |&#9864;                |&#8210;                |&#9864;           |Email address of the customer who is making or receiving the payment. If provided, this field is hidden on the payment form. If left empty, the customer has to enter their email address.|
|emailSubject            |string                 |&#8210;          |&#8210;                |&#8210;                |&#9864;           |Subject line to use in customer email.|
|emailMessage            |string                 |&#8210;          |&#8210;                |&#8210;                |&#9864;           |Message to use in customer email.|
|recipientDescription    |string<br>`length<=30` |&#8210;          |&#9862;                |&#8210;                |&#8210;           |A description to be shown on the Skrill payment page in the logo area if there is no *logo\_url* parameter. If no value is submitted and there is no logo, the *pay\_to\_email* value is shown as the recipient of the payment.|
|language                |string<br>`length=2`   |&#8210;          |&#9862;                |&#8210;                |&#8210;           |The 2-character preferred language code for the consumer (e.g., EN, FR).|
|logoUrl                 |string                 |&#8210;          |&#9862;                |&#8210;                |&#8210;           |The URL of the logo which you would like to appear in the top right of the Skrill page. The logo must be accessible via HTTPS or it will not be shown. The logo will be resized to fit. To avoid scaling distortion, the minimum size should be as follows:<br>If the logo width > height - at least 107px wide.<br>If logo width > height - at least 65px high<br>Avoid large images (much greater than 256 by 256px) to minimize the page loading time.|
|detail1Description      |string                 |&#8210;          |&#9862;                |&#8210;                |&#8210;           |You can show additional details about the product in the More information section in the header of Quick Checkout.|
|detail1Text             |string                 |&#8210;          |&#9862;                |&#8210;                |&#8210;           |The detail1Text is shown next to the detail1Dscription in the More Information section in the header of the payment form with the other payment details. The detail1Description combined with the detail1Text is shown in the more information field of the merchant account history CSV file.|


> Payment
```
"skrill": {
    "consumerId": "john.doe@email.com",
    "recipientDescription":"logo_url_alt_text",
    "language":"EN",
    "logoUrl":"http://www.paysafe.com/icon.jpg",
    "detail1Description":"Details 1 description",
    "detail1Text":"Details 1 text"
}
```

> Standalone Credit
```
"skrill": {
    "consumerId": "john.doe@email.com",
    "emailSubject": "Email Subject",
    "emailMessage": "Note for email here."
}
```

<a name="sofort" title="Sofort Payment Object"></a>
## sofort

![Sofort](https://github.com/paysafegroup/paysafe_api_alternatepayments_v1/raw/master/images/payment_icons/Klarna_text.png)

|Element                 |Type                   |                 |                       |                       |                  |Description|
|---                     |---                    |:---:            |:---:                  |:---:                  |:---:             |---|
|                        |**supported resources**|_**V**_          |_**P**_                |_**S**_                |_**SC**_          |   |
|descriptor              |string<br/>`length<=43`|&#8210;          |&#9864;                |&#8210;                |&#8210;           |This is the merchant descriptor that will be displayed on the consumer's bank statement.|
|sepa                    |[object](#sepa)        |&#8210;          |&#9862;                |&#8210;                |&#8210;           |The customer's SEPA bank account details.|


```
"sofort": {
    "descriptor": "custom descriptor",
    "sepa": {
    }
}
```


# Error Summary

To ease integration and support for developers
integrating to our APIs, the error messages that are returned should be verbose enough to correct the problem.

> See [error Object](#error)

The error structure contains a code as well as a human readable message.
Additionally, the application error code will be returned in the header as *x-application-error-code*
so it can be easily used by an application without parsing the body.
<br/>

**Error message example with details**

```
Status-Code: 402

x-application-status-code: ALTERNATIVE-PAYMENTS-GATEWAY-6
x-application-error-code: ALTERNATIVE-PAYMENTS-GATEWAY-6
x-application-error-message: Bad Request
x-application-error-details: Illegal unquoted character ((CTRL-CHAR, code 10)): has to be escaped using backslash to be included in string value at  [line: 2, column: 61]

{
    "error": {
        "code": "5023",
        "message": "Bad Request",
        "details": {
            "Illegal unquoted character ((CTRL-CHAR, code 10)): has to be escaped using backslash to be included in string value at  [line: 2, column: 61]"
        }
    }
}
```

**Error message example with field errors**

```
Status-Code: 400

x-application-status-code: 5068
x-application-error-code: 5068
x-application-error-message: Field Error(s)
x-application-error-details: Either you submitted a request that is missing a mandatory field or the value of a field does not match the format expected.

{
    "error": {
        "code": "5068",
        "message": "Field Error(s)",
        "details": [
            "Either you submitted a request that is missing a mandatory field or the value of a field does not match the format expected."
        ],
        "fieldErrors": [{
            "field": "recipientEmail",
            "error": "john@hi@you.c.c.c.c is not a valid e-mail address."
        }, {
            "field": "transaction.amount",
            "error": "A transaction amount is required."
        }, {
            "field": "transaction.currency",
            "error": "Currency with value [USD] exceeds the maximum size of [3]."
        }]
    }
}
```


These are the error codes common to all subsystems.

|HTTP Status   |Error Code     |Message                                 |Details|
|---           |---            |---                                     |---|
|400           |5001           |Invalid currency                        |The submitted currency code is invalid or your account does not support this currency.|
|              |5005           |Unsupported operation                   |You submitted an an invalid or unsupported operation type with your request.|
|              |5010           |Invalid country                         |The submitted country code is invalid.|
|              |5016           |Account not found                       |The account you provided cannot be found.|
|              |5017           |Account disabled                        |The account you provided is disabled.|
|              |5023           |Bad request                             |The request is not parseable.|
|              |5042           |Invalid merchant reference              |This error usually indicates that a transaction was attempted with the merchant reference field missing. This value is mandatory and must be included with your request.|
|              |5068           |Field error(s)                          |Either you submitted a request that is missing a mandatory  field or the value of a field does not match the format expected.|
|              |5082           |Mode not permitted                      |The request was sent in a mode that is not permitted. For example, a Live refund request was made on a Test authorization request.|
|401           |5275           |Authentication credentials expired      |The authentication credentials provided with the request have expired.|
|              |5276           |Authentication credentials disabled     |The authentication credentials provided with the request provided have been disabled.|
|              |5277           |Authentication credentials locked       |The authentication credentials provided with the request have been locked due to multiple authentication failures.|
|              |5278           |Cannot authenticate                     |The authentication credentials provided with the request were not accepted for an unknown reason.|
|              |5279           |Authentication credentials are invalid  |The authentication credentials are invalid.|
|              |5280           |Authentication credentials not provided |The required authentication credentials were not provided.|
|403           |5270           |Unauthorized access                     |The credentials provided with the request do not have permission to access the requested data.|
|404           |5269           |Entity not found                        |The ID\(s\) specified in the URL do not correspond to the values in the system.|
|              |5273           |URI not found                           |Your client reached our application but we were unable to service your request due to an invalid URL.|
|405           |5281           |Method not supported                    |The request uses an action (e.g., GET, POST, or PUT) that is not supported by the resource.|
|406           |5271           |Unsupported 'Accept' header             |You requested a response in the 'Accept' header that is in an unsupported format.|
|409           |5031           |Duplicate merchant reference            |The provided reference has already been used for another request.|
|415           |5272           |Unsupported 'Content-Type'              |The 'Content-Type' you specified in request header was submitted in an unsupported format.|
|429           |1200           |API call rate exceeded                  |The API call has been denied as it has exceeded the permissible call rate limit.|
|500           |1000           |Internal error                          |An internal error occurred.|
|502           |1001           |External gateway error                  |An external error occurred.|

These errors are specific to the Alternate Payments API.

|HTTP Status   |Error Code                    |Message                                 |Details|
|---           |---                           |---                                     |---|
|402           |ALTERNATE-PAYMENTS-GATEWAY-1  |Transaction cancelled at the gateway    |The transaction was cancelled at the gateway.|
|402           |ALTERNATE-PAYMENTS-GATEWAY-4  |Transaction declined by the gateway     |The transaction declined by the gateway. |
|402           |ALTERNATE-PAYMENTS-GATEWAY-5  |Incomplete transaction                  |The requested operation can only be executed on a completed transaction.|
|402           |ALTERNATE-PAYMENTS-GATEWAY-6  |Over refund                             |The total refund amount cannot exceed the original payment amount.|
|402           |ALTERNATE-PAYMENTS-GATEWAY-7  |Payment expired                         |The payment has expired.|
|402           |ALTERNATE-PAYMENTS-GATEWAY-8  |Over settlement                         |The total Settlement amount cannot exceed the authorized (payment) amount.|
|402           |ALTERNATE-PAYMENTS-GATEWAY-9  |Risk gateway error                      |A risk issue was reported by the gateway.|
|502           |ALTERNATE-PAYMENTS-GATEWAY-10 |Payment type temporarily unavailable    |The gateway is temporarily unavailable due to system maintenance activities.|
|402           |ALTERNATE-PAYMENTS-GATEWAY-11 |Over voidauth                           |The void authorization cannot exceed the amount remaining to settle for the corresponding payment.|
|402           |ALTERNATE-PAYMENTS-GATEWAY-12 |Payment already settled                 |The payment is already partially/fully settled.|
|402           |ALTERNATE-PAYMENTS-GATEWAY-13 |Transaction not refundable yet          |The transaction is not refundable yet.|
|402           |ALTERNATE-PAYMENTS-GATEWAY-14 |Partial settlements not possible        |Partial Settlements are not possible with the selected payment method.|

# Legal and Community
<ul>
<li><a href="https://www.paysafe.com/privacy-policy/" target="_blank">Privacy Policy</a></li>
<li><a href="https://developer.paysafe.com/en/resources-and-support/terms-of-use/" target="_blank">Terms of Use</a></li>
<li><a href="http://www.paysafe.com/regulatory-disclosure/" target="_blank">Regulatory Disclosures</a></li>
<li><a href="http://community.paysafe.com/spaces/11/index.html" target="_blank">FAQs</a></li>
<li><a href="http://community.paysafe.com/index.html" target="_blank">Community</a></li>
<li><a href="http://community.paysafe.com/spaces/10/index.html" target="_blank">Paysafe Blog</a></li>
</ul>

# Verify That the Service Is Accessible [GET /monitor]

This call returns a status of READY if the API is available.

+ Response 200 (application/json)

  + Body

            {
                "status" : "READY"
            }

# Payments [/payments]
<a name="payments" title="Payments"></a>

The payments resource represents a Payment Authorization.

A Payment and Settlement work in conjunction and a complete transaction will always have both resources associated to it (Payment + Settlement).

When requesting a payment, by default it will include automatic Settlement (*settleWithAuth* = *true*). This will trigger creation of a corresponding Settlement record.  The
Settlement record represents the actual capture of funds to your merchant account. For cases  when *settleWithAuth* is *true*, the corresponding Settlement will have the same
resource identifier (ID) as the payment because it was created from the same request.

Alternatively, you can choose manual Settlement (*settleWithAuth* = *false*). In this case, the Payment only represents an Authorization for the Payment and you must complete
a subsequent Settlement request when you wish to capture the payment.  The ability to perform manual Settlement will depend on the payment option you are attempting.
[Click here](https://developer.paysafe.com/en/rest-api/alternate-payments/getting-started/overview/) to see which payment types support manual settlement.

> **Note:** Each payment type and currency is associated with a distinct merchant account ID.  You will need to know which account ID is associated to your payment type and currency
> in order to complete your request. Please contact [Paysafe Merchant Support](https://developer.paysafe.com/en/resources-and-support/contact-us/) to enable additional payment types and or currencies.


## Create an Authorized Payment [POST /accounts/{accountId}/payments]
<a name="createauthorization" title="Create an Authorized Payment"></a>

Submit a payment request using local payment methods that your customers are familiar with.
Once you have submited your request, if you are returned a *redirect_payment* HATEOAS link, then you must redirect
your consumer to the link to complete the payment.

In addition to specifying *paymentType* as part of your API request, if the desired payment method also requires additional attributes,
these should be passed as a nested object in the root of your payment request.
<br/>
For example, a SOFORT payment can support the following attributes to be included in your request:

```
{
    "paymentType": "SOFORT",
    "sofort": {
       "sepa": {
           "bankName": "ing",
           "country": "NL"
       }
    }
    ... other payment attributes here ...
```

See [Payment Objects](#paymentObjects) for payment type specific details, or select a payment type below.


| | | | |
|---|---|---|---|
|[![Paysafecard](https://github.com/paysafegroup/paysafe_api_alternatepayments_v1/raw/master/images/payment_icons/paysafecard.png)](#paysafecard)|[![Skrill](https://github.com/paysafegroup/paysafe_api_alternatepayments_v1/raw/master/images/payment_icons/skrill.png)](#skrill)|[![Neteller](https://github.com/paysafegroup/paysafe_api_alternatepayments_v1/raw/master/images/payment_icons/neteller.png)](#neteller)|[![Payolution](https://github.com/paysafegroup/paysafe_api_alternatepayments_v1/raw/master/images/payment_icons/payolution.png)](#payolution)|
|[![iDeal](https://github.com/paysafegroup/paysafe_api_alternatepayments_v1/raw/master/images/payment_icons/ideal.png)](#ideal)|[![Sofort](https://github.com/paysafegroup/paysafe_api_alternatepayments_v1/raw/master/images/payment_icons/Klarna_text.png)](#sofort)|[![Giropay](https://github.com/paysafegroup/paysafe_api_alternatepayments_v1/raw/master/images/payment_icons/giropay.png)](#giropay)|[![Boku](https://github.com/paysafegroup/paysafe_api_alternatepayments_v1/raw/master/images/payment_icons/boku.png)](#boku)|
|[![RapidTransfer](https://github.com/paysafegroup/paysafe_api_alternatepayments_v1/raw/master/images/payment_icons/rapidtransfer.png)](#rapidtransfer)|[![Paysafecash](https://github.com/paysafegroup/paysafe_api_alternatepayments_v1/raw/master/images/payment_icons/paysafecash.png)](#paysafecash)|[![Interac](https://github.com/paysafegroup/paysafe_api_alternatepayments_v1/raw/master/images/payment_icons/interac.png)](#interac)||


Click on **Create an Authorized Payment** above to see two examples of a Payment Authorization request:
* A standard Payment Authorization using the RapidTransfer payment method, with automatic settlement.
* A Payment Authorization using the payolution payment method, offering payment by installments. You must first process a [Verification request](#createverification) for the consumer before they can pay by installments.

+ Parameters
    + accountId (string, required, `1234567891`) - This is your unique account identifier.

+ Attributes
    + Include payment
    + Include paymentType
    + Include boku
    + Include giropay
    + Include neteller
    + Include payolution
    + Include paysafecard
    + Include paysafecash
    + Include rapidTransfer
    + Include skrill
    + Include sofort
    + Include links

+ Request Create Rapid Transfer Payment (application/json)

    + Headers

            Authorization: Basic YOUR-BASE64-ENCODED-API-KEY

    + Body

            {
                "amount": 150,
                "paymentType": "RAPIDTRANSFER",
                "currencyCode": "GBP",
                "merchantRefNum": "MR1000001",
                "settleWithAuth": "true",
                "profile": {
                "email": "john.doe@email.com",
                "firstName": "John",
                "lastName": "Doe"
            },
            "billingDetails": {
                "city": "Berlin",
                "country": "DE",
                "state": "Berlin",
                "street1": "Street Address1",
                "street2": "Street Address2",
                "zip": "10179"
            },
            "returnLinks": [
              {
                  "rel": "default",
                  "href": "http://www.paysafe.com"
              }]
            }

+ Response 201 (application/json)

    + Body

            {
                "id": "c9659fcd-0c68-4cba-b7c9-6b6e353cfe00",
                "gatewayReconciliationId": "QAAAAAAPU4",
                "merchantRefNum": "MR1000001",
                "amount": 150,
                "currencyCode": "GBP",
                "paymentType": "RAPIDTRANSFER",
                "settleWithAuth": true,
                "availableToSettle": 0,
                "availableToRefund": 0,
                "profile": {
                    "firstName": "John",
                    "lastName": "Doe",
                    "email": "john.doe@email.com"
                },
                "billingDetails": {
                    "street1": "Street Address1",
                    "street2": "Street Address2",
                    "zip": "10179",
                    "city": "Berlin",
                    "country": "DE",
                    "state": "Berlin"
                },
                "rapidTransfer": {
                    "descriptor": "QAAAAAAPU4"
                },
                "returnLinks": [
                    {
                        "rel": "default",
                        "href": "http://www.paysafe.com"
                    }
                ],
                "txnTime": "2018-03-06T17:50:44Z",
                "status": "INITIATED",
                "gatewayResponse": {
                    "bankTimestamp": "2018-03-06 18:50:49",
                    "returnCode": "0",
                    "requestDateTime": "2018-03-06T12:50:47.935-05:00",
                    "durationMillis": "1363",
                    "id": "17eba3bc-b1f3-43e0-8067-d53d4f3e53fa",
                    "processor": "RAPIDTRANSFER"
                },
                "links": [
                    {
                        "rel": "self",
                        "href": "https://api.paysafe.com/alternatepayments/v1/accounts/1002550404/payments/c9659fcd-0c68-4cba-b7c9-6b6e353cfe00"
                    },
                    {
                        "rel": "redirect_payment",
[...]
